$home-text: #1e2329;
$white: #fff;
$light: #f0f0f0;
$bg-light: #f9f9f9;
$black: #000;
$span: #058ab0;
$active: blue;
$pdf-span: #243136;
$hover: red;
$bg-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
$nav-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
$shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
