@import "./colors.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

section {
  align-items: center;
  text-align: center;

  header {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    background-color: $white;
    width: 20rem;
    padding: 1rem;
    inset: 2rem 30rem;
    z-index: 1;
    font-size: 18px;
    @media screen and (max-width: 330px) {
      width: 20rem;
      padding: 1rem;
      inset: 2rem 0rem;
      font-size: 14px;
    }
    @media screen and (min-width: 331px) and (max-width: 380px) {
      inset: 2rem 2rem;
    }
    @media screen and (min-width: 381px) and (max-width: 1000px) {
      inset: 2rem 3.5rem;
    }
  }

  .lists_levels {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $bg-shadow;
    background-color: $white;
    height: 31rem;
    width: 50rem;
    margin: 1rem 15rem;
    margin-bottom: -0.6rem;
    @media screen and (max-width: 1000px) {
      margin: 0rem;
      margin-bottom: 1rem;
      height: 25rem;
      width: 20rem;
    }
    @media screen and (max-width: 330px) {
      margin: 0rem;
      height: 25rem;
      width: 20rem;
    }
    @media screen and (min-width: 331px) and (max-width: 380px) {
      margin-left: 2rem;
    }
    @media screen and (min-width: 381px) and (max-width: 1000px) {
      margin-left: 3.5rem;
    }
    ul {
      margin: 1rem 0;
      width: 25rem;
      list-style: none;

      @media screen and (max-width: 1000px) {
        width: 19rem;
      }

      .links {
        text-decoration: none;
        color: $home-text;
      }
      li {
        margin: 2rem;
        border: none;
        border-radius: 15px;
        box-shadow: $shadow;
        cursor: pointer;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        color: $home-text;

        &:hover {
          color: $span;
        }
        @media screen and (max-width: 330px) {
          margin: 1rem;
        }
        @media screen and (max-width: 380px) {
          margin: 1rem;
        }
        @media screen and (max-width: 1000px) {
          margin: 1rem;
        }
      }
    }
  }
}
