@import "../Styles/colors.scss";

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

nav {
  box-shadow: $nav-shadow;

  .nav_main {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      img {
        height: 3rem;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      text-transform: uppercase;

      li {
        margin-right: 5rem;
        .links {
          text-decoration: none;
          color: $home-text;

          &:hover{
            color:$hover;
          }
        }
      }
    }
  }
}
